html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  margin: auto;
  max-width: 1540px;
  text-align: center;
  width: 95vw;
}

header {
  background-color: #e1e1e1;
  box-shadow: #e1e1e1 0px 0px 2px 2px;
  padding: 20px;
}

h1 {
  font-size: 3.2rem;
}

h1, h2 {
  color: #edab14;
  font-weight: 500;
}

#research {
  box-shadow: grey 0px 0px 2px 2px;
  margin-bottom: 4px;
  margin-top: 2px;
  padding-bottom: 25px;
}

#search-bar {
  border: 2px solid #e1e1e1;
  border-radius: 15px;
  color: grey;
  font-size: 1.2rem;
  height: 30px;
  margin: 25px 0px 25px 0px;
  transition: all 0.2s ease-in-out;
  width: 60%
}

#search-bar:hover {
  background-color: hsla(42, 92%, 50%, 0.15);
}

#sort-options {
  display: flex;
  justify-content: center;
}

.first {
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}

.button {
  align-items: center;
  background-color: #edab14;
  font-weight: 500;
  height: 40px;
  margin: 0px 15px 0px 15px;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 130px;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.up-arrow {
  border-bottom: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0; 
  width: 0; 
}

/* Display of items in result: */

#result {
  background-color: #e1e1e1;
  box-shadow: #e1e1e1 0px 0px 2px 2px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.country {
  background-color: white;
  box-shadow: grey 0px 2px 3px 3px;
  display: block;
  min-height: 270px;
  line-height: 2rem;
  margin: 10px;
  padding: 15px;
  width: 200px;
}

.flag {
  border-radius: 3px;
  box-shadow: #e1e1e1 0px 0px 2px 2px;
  display: block;
  height: 70px;
  margin: auto;
  width: auto;
}

.name {
  font-size: 1.1rem;
  margin-top: 20px;
  text-transform: uppercase;
}

.paragraph {
  text-align: left;
  color: grey;
}

span {
  border-bottom: 1px solid grey;
  color: black;
}

/* Style for top ten section */

#top-ten {
  box-shadow: grey 0px 0px 2px 2px;
  margin-bottom: 4px;
  padding: 25px;
}

#top-ten > div {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.second {
  border-radius: 5px;
}

#top-ten-pop-lang {
  font-weight: 500;
  text-transform: uppercase;
}

#sorted-results {
  align-items: center;
  background-color: #e1e1e1;
  box-shadow: #e1e1e1 0px 0px 2px 2px;
  display: grid;
  font-weight: 500;
  gap: 20px 15px;
  grid-auto-flow: row;
  grid-template: repeat(10, 1fr) / 1fr 3fr 1fr;
  justify-content: space-between;
  padding: 40px 200px;
}

#country-lang0 {
  grid-area: 1 / 1 / 2 / 2;
}

#result9 {
  grid-area: 10 / 3 / 11 / 4;
}

.country-lang {
  justify-self: left;
}

.bar {
  background-color: #edab14;
  border-radius: 3px;
  height: 40px;
}

footer {
  font-size: 0.9rem;
  padding: 40px 0px;
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}